.login.center-block
    form(role='form', (submit)='login($event, username.value, password.value)')
        .form-group
            input#username(type='text', #username='', placeholder='Username')
        .form-group
            input#password(type='password', #password='', placeholder='Password')
        button(type='submit') Login
    error-list
