doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Angular 2 Quickstart
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='index.css')
    script(src='lib/es6-promise/promise.js')
    script(src='https://github.jspm.io/jmcriffey/bower-traceur-runtime@0.0.87/traceur-runtime.js')
    script(src='https://jspm.io/system@0.16.js')
    script(src='https://code.angularjs.org/2.0.0-alpha.24/angular2.dev.js')
    script(src='https://code.angularjs.org/2.0.0-alpha.24/router.dev.js')
    script(src='lib/fetch/fetch.js')
  body
    app
    script.
      System.import('index');
