
error-list
  min-height 6.5em
  display inline-block

.error-list
  display inline-block
  margin 2em auto
  border-radius 5px
  border 2px solid red
  padding 0.5em

  .error-item
    color red
    font-weight bold
    font-size 1.1em
    margin 0.1em
